// Breakpoints
$screen-sm-m: 360px;
$screen-sm: 480px;
$screen-md: 767px;
$screen-md-x: 812px;
$screen-lg: 1024px;
$screen-lg-m: 1200px;
$screen-lg-max: 1366px;
$screen-lg-x: 1999px;

// Fonts
$font-graphik: 'Graphik', sans-serif;

//Colors
$color-black: #000000;
$color-white: #ffffff;
$color-orange: #fceccb;
$color-orange-dark: #f2894e;
$color-gray: #eceef1;
$color-gray-2: #b2b2b2;
$color-gray-3: #8d8d8d;
$color-gray-light: #f6f6f8;
$color-gray-dark: #363636;
$color-gray-dark-2: #7f7f7f;
$color-gray-dark-3: #939393;
$color-green: #d5f0d3;
$color-green-2: #56f099;
$color-red: #ffcdcd;
$color-pink: #fdd4bd;
$color-blue: #d3e7f2;
$color-blue-2: #4eb8f2;
$color-yellow: #fff9db;
$color-red: #f24e4e;
$color-yellow-2: #f2d74e;
